@using CodingEventsDemo.Models

@model List<Tag>

<h1>Event Tags</h1>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>

    @foreach(var tag in Model)
    {
        <tr>
            <td>@tag.Id</td>
            <td>@tag.Name</td>
        </tr>
    }
</table>