<h1>Add Event</h1>

<form method="post">
    <div class="form-group">
        <input class="form-group" type="text" name="name" placeholder="event name" />
        <input class="form-group" type="text" name="description" placeholder="description" />
        <input class="btn btn-primary" type="submit" value="Add Event" />
    </div>
   
</form>
